@use '../partials/variables.scss' as *;

*, *::before, *::after {
    box-sizing: border-box;
}
    .svg-bg {
        padding-top: 10%;
        padding-left: 8%;
        background-color: white;
        z-index: 1;
        opacity: 0.5;
        position: absolute;
        transform: scale(1.44, 1.152);

    }

    .svg-bg path {
        stroke-dasharray: 8000;
        stroke-dashoffset: 8000;
        animation: draw 7.5s linear forwards; 
    }

    html, body {
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .calculator {
        z-index: 2;
        border-radius: 15px;
        box-shadow: -2.5px 23px 30px 2px rgba(10, 10, 10, .25);
        background: rgba(255, 255, 255, 0.01);
        width:fit-content; height: 25rem;
        margin: 3% auto;
        display: grid;
        grid-template-columns: 70px 70px 70px 70px;
        position: relative;
    }

    button {
        border-radius: 7px;
        font-size: 1.7rem;
        opacity: 0.75;
    }

    button:hover {
        z-index: 2;
        opacity: 0.79;
        background-color: rgba(1, 132, 132, 1);
        transform: scale(1.15);
    }

    button:active {
        border: 3px inset rgba(2, 2, 2, 0.75);
        opacity: 1;
        background-color: rgba(5, 150, 150, 0.59);
        transform: scale(0.95);
    }

    #clearScreen, .span-two {
        width: 200%;
    }
    #clearScreen {
        margin-left: 4.37rem;
    }